body{
    display: grid;
    grid-template-rows: 1fr 1fr;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas:"c c a" 
                            "b b a";
    background-color:rgb(139, 205, 231) ;
}


#imgTempo {
    height: 400px; 
    width: 400px;
    display: none;
    grid-area: a;
    top: 20px;
    margin-top: auto;
    
}

#pTemp{
    grid-area: b;
    color: rgb(7, 14, 15);
    text-align: center;
    font-family: verdana;
    font-size: 15px;
}


#pesquisar{
    grid-area: c;
    color: rgb(10, 15, 15);
    text-align: center;
    font-family: verdana;
    font-size: 15px;
}

h1{
    color: blue;
   
}
#btnConsultar{
    color: rgb(17, 16, 16);
    background-color: rgb(236, 195, 195);
    font-size: larger;
}

#city{
    color: rgb(17, 16, 16);
    background-color: rgb(236, 195, 195);
    font-size: larger;
}
}