body{
    display: grid;
    grid-template-rows: 1fr 1fr;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-areas:"c c a" 
                            "b b a";
}


#imgTempo {
    height: 400px; 
    width: 400px;
    display: none;
    grid-area: a;
    top: 20px;
    margin-top: auto;
    
}

#pTemp{
    grid-area: b;
}


#pesquisar{
    grid-area: c;
}